div(zz-layout='row').zz-layout.zz-layout-row
    div.zz-layout-column
        p 1st column

    div.zz-layout-column
        p 2nd column

    div.zz-layout-column
        p 3rd column

div.zz-mt-10
    hr

div(zz-layout='column').zz-layout.zz-layout-column
    div.zz-layout-row
        p 1st row

    div.zz-layout.zz-layout-row
        div.zz-layout-column
            p 1st column

        div.zz-layout-column
            p 2nd column

        div.zz-layout-column
            p 3rd column

    div.zz-layout-row
        p 3rd row